@model UpdateServiceDto
@{
    ViewData["Title"] = "Hizmetler";
    ViewData["SubTitle"] = "Hizmet Güncelleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="ServiceID" />
    <br />
    <label>Hizmet İkonu</label>
    <input type="text" asp-for="ServiceIcon" class="form-control" />
    <span asp-validation-for="ServiceIcon" class="text-info"></span>
    <br />
    <label>Hizmet Adı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-info"></span>
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-info"></span>
    <br />
    <button class="btn btn-success">Hizmeti Güncelle</button>
</form>

